.pomodoroMode {
  background: rgb(219, 82, 77);
  height: 100vh;
}
.shortBreakMode {
  background-color: rgb(70, 142, 145);
  height: 100vh;
}
.longBreakMode {
  background-color: #437ea8;
  height: 100vh;
}
